<div class="container text-center pt-5" *ngIf="loader">
  <i class="fa fa-spinner fa-4x fa-spin fa-fw" aria-hidden="true"></i>
</div>
<div class="container p-3" *ngIf="!loader">
  <div class="row content">
    <div class="col-3">
      <div class="list-group sticky-top" id="list-tab" role="tablist">
        <button class="btn btn-success m-2" (click)="onSubmit()"><span class="fa fa-save" aria-hidden="true" ></span> Guardar</button>
        <button class="btn btn-secondary m-2" (click)="goBack()"><span class="fa fa-undo" aria-hidden="true"></span> Regresar</button>
        <button class="btn btn-danger m-2 float-right" (click)="delete()" *ngIf="!form.terminado && form.$key"><span class="fa fa-trash" aria-hidden="true"></span> Eliminar</button>
        <button class="list-group-item list-group-item-action" href="#gen">General</button>
        <button class="list-group-item list-group-item-action" href="#loc">Localización</button>
        <button class="list-group-item list-group-item-action" href="#fuen">Fuentes</button>
        <button class="list-group-item list-group-item-action" href="#quien">Quien habla</button>
        <button class="list-group-item list-group-item-action" href="#dequien">De quien habla</button>
        <button class="list-group-item list-group-item-action" href="#deque">De que se habla</button>
        <button class="list-group-item list-group-item-action" href="#trat">Tratamiento</button>
        <button class="list-group-item list-group-item-action" href="#obs">Observaciones</button>
      </div>
    </div>
    <div class="col-9">
      <!--General-->
      <div id="gen" class="mb-2 border rounded p-3">
        <h3 class="text-info">General</h3>
        <div class="form-group form-inline">
          <label class="col-sm-2">Terminado:</label>
          <input type="checkbox" [(ngModel)]="form.terminado" [disabled]="tarea.analizado">
        </div>
        <div class="form-group form-inline">
          <label class="col-sm-2">Titular:</label>
          <input type="text" class="form-control" placeholder="Breve titular indicativo" [(ngModel)]="form.title" [disabled]="form.terminado">
        </div>
        <div class="form-group form-inline">
          <label class="col-sm-2">Inicio:</label>
          <select class="form-control hour" [(ngModel)]="form.bhour" [disabled]="form.terminado"><option *ngFor="let h of hour;let i=index" value="{{i}}">{{i | number:'2.0-0'}}</option></select>
          <label>:</label>
          <select class="form-control minute" [(ngModel)]="form.bmin" [disabled]="form.terminado"><option *ngFor="let min of minute;let i=index" value="{{i}}">{{i | number:'2.0-0'}}</option></select>
          <label>:</label>
          <select class="form-control minute" [(ngModel)]="form.bsec" [disabled]="form.terminado"><option *ngFor="let min of minute;let i=index" value="{{i}}">{{i | number:'2.0-0'}}</option></select>
        </div>
        <div class="form-group form-inline">
          <label class="col-sm-2">Fin:</label>
          <select class="form-control hour" [(ngModel)]="form.ehour" [disabled]="form.terminado"><option *ngFor="let h of hour;let i=index" value="{{i}}">{{i | number:'2.0-0'}}</option></select>
          <label>:</label>
          <select class="form-control minute" [(ngModel)]="form.emin" [disabled]="form.terminado"><option *ngFor="let min of minute;let i=index" value="{{i}}">{{i | number:'2.0-0'}}</option></select>
          <label>:</label>
          <select class="form-control minute" [(ngModel)]="form.esec" [disabled]="form.terminado"><option *ngFor="let min of minute;let i=index" value="{{i}}">{{i | number:'2.0-0'}}</option></select>
        </div>
        <div class="form-group form-inline">
          <label class="col-sm-2">Duración:</label>
          <label>{{(form.ehour-form.bhour)*3600+(form.emin-form.bmin)*60+(form.esec-form.bsec)}} segundos</label>
        </div>
        <div class="form-group form-inline">
          <label class="col-sm-2">Formato:</label>
          <select class="form-control" [(ngModel)]="form.format" [disabled]="form.terminado">
              <option></option>
              <option *ngFor="let option of (format | async)" value="{{option.$key}}">{{option.$value}}</option>
                            </select>
        </div>
        <div class="form-group form-inline">
          <label class="col-sm-2">Genero:</label>
          <select class="form-control" [(ngModel)]="form.genero" [disabled]="form.terminado">
              <option></option>
              <option *ngFor="let option of (genero | async)" value="{{option.$key}}">{{option.$value}}</option>
                            </select>
        </div>
      </div>
      <!--localizacion-->
      <div id="loc" class="mb-2 border rounded p-3">
        <h3 class="text-info">Localización</h3>
        <div class="form-group form-inline">
          <label class="col-sm-4">Ambito:</label>
          <select id="ambito" class="form-control" [(ngModel)]="form.ambito" [(disabled)]="form.terminado">
              <option></option>
              <option *ngFor="let option of (ambito | async)" value="{{option.$key}}">{{option.$value}}</option>
          </select>
        </div>
        <div class="form-group form-inline">
          <label class="col-sm-4"> Valoración:</label>
          <select name="valorAmbito" class="form-control" [(ngModel)]="form.valorAmbito" [(disabled)]="form.terminado"><option *ngFor="let h of rating;let i=index" value="{{i}}">{{i}}</option></select>
        </div>
        <div *ngIf='form.ambito=="N"' class="form-group form-inline">
          <label class="col-sm-4">¿España en su conjunto?</label>
          <input type="checkbox" [(ngModel)]="form.espConjunto" [(disabled)]="form.terminado">
        </div>
        <div *ngIf='form.ambito=="I"||form.ambito=="G"' class="form-group form-inline ">
          <label class="col-sm-4 ">Zona Ambito Internacional:</label>
          <div>
            <select class="form-control " [(ngModel)]="form.zona " [(disabled)]="form.terminado ">
                <option></option>
                <option *ngFor="let option of (zona | async)" value="{{option.$key}}">{{option.$value}}</option>
            </select>
          </div>
        </div>
        <div *ngIf='form.ambito=="I"||form.ambito=="N"||form.ambito=="G"'>
          <table class="table ">
            <thead>
              <tr>
                <th *ngIf='form.ambito=="I"||form.ambito=="G"'>Pais</th>
                <th *ngIf='form.ambito=="N"'>Comunidad</th>
                <th>Valoración</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let local of form.lugares, let i=index">
                <td *ngIf='form.ambito=="I"||form.ambito=="G"'>
                  <select class="form-control " [(ngModel)]="local.pais " [(disabled)]="form.terminado ">
                      <option></option>
                      <option *ngFor="let option of (pais | async)" value="{{option.$key}}">{{option.$value}}</option>
                                        </select>
                </td>
                <td *ngIf='form.ambito=="N"'>
                  <select class="form-control " [(ngModel)]="local.comunidad " [(disabled)]="form.terminado ">
                      <option></option>
                      <option *ngFor="let option of (comunidad | async)" value="{{option.$key}}">{{option.$value}}</option>
                                        </select>
                </td>
                <td>
                  <select class="form-control" [(ngModel)]="local.valor" [(disabled)]="form.terminado "><option *ngFor="let h of rating;let i=index" value="{{i}}">{{i}}</option></select>
                </td>
                <td>
                  <button type="button" class="btn btn-outline-danger " (click)="deleteElem('lugar',i)" *ngIf="!form.terminado "><span class="fa fa-trash "></span></button>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="(form.lugares.length < 3 || form.lugares==undefined)&& !form.terminado ">
            <button type="button " class="btn btn-outline-info mb-3" (click)="addElem('lugar') ">Añadir</button>
          </div>
          <table class="table ">
            <thead>
              <tr>
                <th>Localidad</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let local of form.localidades, let i=index ">
                <td>
                  <input type="text " class="form-control text " [(ngModel)]="local.localidad" my-localisation [(disabled)]="form.terminado ">
                </td>
                <td>
                  <select class="form-control " [(ngModel)]="local.valor " [(disabled)]="form.terminado "><option *ngFor="let h of rating;let i=index" value="{{i}}">{{i}}</option></select>
                </td>
                <td>
                  <button type="button " class="btn btn-outline-danger" (click)="deleteElem('localidad',i)" *ngIf="!form.terminado "><span class="fa fa-trash "></span></button>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="(form.localidades.length < 3 || form.localidades==undefined)&& !form.terminado ">
            <button type="button " class="btn btn-outline-info mb-3" (click)="addElem('localidad') ">Añadir lugar</button>
          </div>
        </div>
      </div>
      <!--Fuentes-->
      <div id="fuen" class="mb-2 border rounded p-3">
        <h3 class="text-info">Fuentes</h3>
        <div class="form-group">
          <label><input type="checkbox" [(ngModel)]="form.fuente" [disabled]="form.terminado"> Tiene Fuentes</label>
        </div>
        <div class="form-group form-inline">
          <label class="col-sm-3">Totales de Hombres:</label>
          <input type="number" class="form-control" [(ngModel)]="form.declhombre" placeholder="Numero" [disabled]="form.terminado">
        </div>
        <div class="form-group form-inline">
          <label class="col-sm-3">Totales de Mujeres:</label>
          <input type="number" class="form-control" [(ngModel)]="form.declmujeres" placeholder="Numero" [disabled]="form.terminado">
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Directa</th>
              <th>Generica</th>
              <th>Confidencial</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="number" class="form-control" [(ngModel)]="form.fDir" placeholder="Num fuentes" [disabled]="form.terminado"></td>
              <td><input type="number" class="form-control" [(ngModel)]="form.fGenerica" placeholder="Num fuentes" [disabled]="form.terminado"></td>
              <td><input type="number" class="form-control" [(ngModel)]="form.fConfidencial" placeholder="Num fuentes" [disabled]="form.terminado"></td>
              <td>{{form.fDir+form.fGenerica+form.fConfidencial}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--Quien habla-->
      <div id="quien" class="mb-2 border rounded p-3">
        <h3 class="text-info">Quien habla</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Agente Informativo</th>
              <th>Numero de veces</th>
              <th>Personaje</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let quien of form.quienes, let i=index">
              <td><select class="form-control" [(ngModel)]="quien.categoria" [disabled]="form.terminado">
                  <option></option>
                  <option *ngFor="let option of (categoria | async)" value="{{option.$key}}">{{option.$value}}</option>
                  </select>
              </td>
              <td><select class="form-control" [(ngModel)]="quien.valor" [disabled]="form.terminado"><option *ngFor="let h of rating;let i=index" value="{{i}}">{{i}}</option></select></td>
              <td><input type="text" class="form-control etiquetas" [(ngModel)]="quien.persona" [disabled]="form.terminado"></td>
              <td><button type="button" class="btn btn-outline-danger" (click)="deleteElem('quien',i)" *ngIf="!form.terminado"><span class="fa fa-trash"></span></button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="!form.terminado"><button type="button" class="btn btn-outline-info" (click)="addElem('quien')">Añadir</button></div>
      </div>
      <!--De Quien habla-->
      <div id="dequien" class="mb-2 border rounded p-3">
        <h3 class="text-info">De quien habla</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Agente Informativo</th>
              <th>Valoración</th>
              <th>Mencionado</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dquien of form.dquienes, let i=index">
              <td><select class="form-control" [(ngModel)]="dquien.categoria" [disabled]="form.terminado">
                                        <option></option>
                                        <option *ngFor="let option of (categoria | async)" value="{{option.$key}}">{{option.$value}}</option>
                                    </select>
              </td>
              <td><select class="form-control" [(ngModel)]="dquien.valor" [disabled]="form.terminado"><option *ngFor="let h of rating;let i=index" value="{{i}}">{{i}}</option></select></td>
              <td><input type="text" class="form-control" [(ngModel)]="dquien.persona" [disabled]="form.terminado"></td>
              <td><button type="button" class="btn btn-outline-danger" (click)="deleteElem('dquien',i)"
                  *ngIf="!form.terminado"><span class="fa fa-trash"></span></button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="!form.terminado"><button type="button" class="btn btn-outline-info" (click)="addElem('dquien')">Añadir</button></div>
      </div>
      <!--De Que se Habla-->
      <div id="deque" class="mb-2 border rounded p-3">
        <h3 class="text-info">De que se Habla</h3>
        <div class="form-group form-inline">
          <label class="col-sm-4">Categoria Tematica:</label>
          <div>
            <select [(ngModel)]="form.catTem" class="form-control" [disabled]="form.terminado">
                <option></option>
                <option *ngFor="let option of (catTem | async)" value="{{option.$key}}">{{option.$value}}</option>
                 </select>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>¿De que se habla?</th>
              <th>Valoración</th>
              <th>Etiqueta</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let dque of form.dques, let i=index">
              <td>
                <select class="form-control" [(ngModel)]="dque.categoria" [disabled]="form.terminado">
                    <option></option>
                    <option *ngFor="let option of (dqcategoria | async)" value="{{option.$key}}">{{option.$value}}</option>
                                        </select></td>
              <td>
                <select class="rating form-control" [(ngModel)]="dque.valor" [disabled]="form.terminado"><option *ngFor="let h of rating;let i=index" value="{{i}}">{{i}}</option></select>
              </td>
              <td><input type="text" class="form-control etiquetas" [(ngModel)]="dque.etiqueta" [disabled]="form.terminado"></td>
              <td>
                <button type="button" class="btn btn-outline-danger" (click)="deleteElem('dque',i)" *ngIf="!form.terminado">
                                            <span class="fa fa-trash"></span>
                                        </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="!form.terminado"><button type="button" class="btn btn-outline-info" (click)="addElem('dque')">Añadir</button></div>
      </div>
      <!--Tratamiento-->
      <div id="trat" class="mb-2 border rounded p-3">
        <h3 class="text-info">Tratamiento</h3>
        <div class="form-group form-inline">
          <label class="col-sm-4">Valoración editorial:</label>
          <div>
            <select [(ngModel)]="form.valedit" class="form-control" [disabled]="form.terminado">
                <option></option>
                <option *ngFor="let option of (valedit | async)" value="{{option.$key}}">{{option.$value}}</option>
                 </select>
          </div>
        </div>
        <div class="form-group form-inline">
          <label class="col-sm-4">Origen de la imagen:</label>
          <div>
            <select multiple [(ngModel)]="form.origen" class="form-control" [disabled]="form.terminado">
                <option *ngFor="let option of (origen | async)" value="{{option.$key}}">{{option.$value}}</option>
                                </select>
          </div>
        </div>
        <div class="form-group form-inline">
          <label class="col-sm-4">Rótulos:</label>
          <div>
            <select multiple [(ngModel)]="form.rotulos" class="form-control" [disabled]="form.terminado">
                <option *ngFor="let option of (rotulos | async)" value="{{option.$key}}">{{option.$value}}</option>
                                </select>
          </div>
        </div>
        <div class="form-group form-inline">
          <label class="col-sm-4">Informador:</label>
          <div>
            <select class="form-control" [(ngModel)]="form.informador" [disabled]="form.terminado">
                <option></option>
                <option *ngFor="let option of (informador | async)" value="{{option.$key}}">{{option.$value}}</option>
                                </select>
            <label><input type="checkbox" [(ngModel)]="form.infoAparece" [disabled]="form.terminado"> ¿Aparece en la imagen?</label>
          </div>
        </div>
        <div class="form-group form-inline">
          <label class="col-sm-4">Retorica de la Imagen:</label>
          <div>
            <select multiple [(ngModel)]="form.retorica" class="form-control" [disabled]="form.terminado">
                <option *ngFor="let option of (retorica | async)" value="{{option.$key}}">{{option.$value}}</option>
                                </select>
          </div>
        </div>
        <div class="form-group form-inline">
          <label class="col-sm-4">Equilibrio:</label>
          <div>
            <select [(ngModel)]="form.equilibrio" class="form-control" [disabled]="form.terminado"><option *ngFor="let h of rating;let i=index" value="{{i}}">{{i}}</option></select>
          </div>
        </div>
        <div class="form-group form-inline">
          <label class="col-sm-4">Contextualización:</label>
          <div>
            <select [(ngModel)]="form.context" class="form-control" [disabled]="form.terminado"><option *ngFor="let h of rating;let i=index" value="{{i}}">{{i}}</option></select>
          </div>
        </div>
        <div class="form-group form-inline">
          <label class="col-sm-4">Relación con la cadena:</label>
          <div>
            <select [(ngModel)]="form.relcad" class="form-control" [disabled]="form.terminado">
                <option></option>
                <option *ngFor="let option of (relcad | async)" value="{{option.$key}}">{{option.$value}}</option>
                                </select>
          </div>
        </div>
      </div>
      <!--Observaciones-->
      <div id="obs" class="mb-2 border rounded p-3">
        <h3 class="text-info">Observaciones</h3>
        <div class="form-group">
          <div>
            <textarea rows="10" style="width:100%" [(ngModel)]="form.observaciones" [disabled]="form.terminado"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>