<div class="container text-center pt-5" *ngIf="loader">
  <i class="fa fa-spinner fa-4x fa-spin fa-fw" aria-hidden="true"></i>
</div>
<div class="container-fluid p-3" *ngIf="!loader">
  <div class="row content">
    <!-- Search control-->
    <div class="col-sm-3">
      <h2 class="text-info">Tareas</h2>
      <div class="form-group">
        <label>ID Tarea:</label>
        <input class="form-control" [(ngModel)]="query.id_tarea">
      </div>
      <div class="form-group">
        <label>Cadena:</label>
        <select class="form-control" [(ngModel)]="query.cadena">
          <option></option>
          <option *ngFor="let option of (cadenas | async)" value="{{option.$key}}">{{option.$value}}</option>
        </select>
      </div>
      <button class="btn btn-outline-info" (click)="onFilterSort()">Buscar</button>
    </div>
    <div class="col-sm-9 p-3">
        <button class="btn btn-outline-success m-2" (click)="gotoDetail('-')"><span class="fa fa-plus" aria-hidden="true"></span> Nueva Tarea</button>
      <table class="table">
        <thead>
          <th>#</th>
          <th>Semestre</th>
          <th>Cadena</th>
          <th>Fecha</th>
          <th style="text-align:center;">Analizado</th>
          <th style="text-align:center;">Revisado</th>
        </thead>
        <tbody>
          <tr *ngFor="let tarea of displayTareas">
            <td><button class="btn-link" (click)="gotoDetail(tarea.$key)">{{tarea.id_tarea}}</button></td>
            <td>{{(combos|async)?.semestre[tarea.semestre]}}</td>
            <td>{{(combos|async)?.cadena[tarea.cadena]}}</td>
            <td>{{tarea.date | date:'dd/MM/yyyy'}}</td>
            <td style="text-align:center;"><input type="checkbox" [checked]="tarea.analizado"  disabled/></td>
            <td style="text-align:center;"><input type="checkbox" [checked]="tarea.revisado"  disabled/></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>