<div class="container text-center pt-5" *ngIf="loader">
  <i class="fa fa-spinner fa-4x fa-spin fa-fw" aria-hidden="true"></i>
</div>
<div class="container-fluid p-3" *ngIf="!loader">
  <div class="row content">
    <!-- Search control-->
    <div class="col-2 border rounded p-2">
      <div class="form-group">
        <label>ID Informativo:</label>
        <input class="form-control" [(ngModel)]="query.id_tarea">
      </div>
      <div class="form-group">
        <label>Cadena:</label>
        <select class="form-control" [(ngModel)]="query.cadena">
          <option></option>
          <option *ngFor="let option of (cadenas | async)" value="{{option.$key}}">{{option.$value}}</option>
        </select>
      </div>
      <div class="form-group">
          <label>Año:</label>
          <select class="form-control" [(ngModel)]="query.year">
            <option></option>
            <option>2017</option>
            <option>2018</option>
            <option>2019</option>
            
          </select>
        </div>
        <div class="form-group">
            <label>Semestre:</label>
            <select class="form-control" [(ngModel)]="query.semestre">
              <option></option>
              <option *ngFor="let option of (semestre | async)" value="{{option.$key}}">{{option.$value}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Edición:</label>
            <select class="form-control" [(ngModel)]="query.edicion">
              <option></option>
              <option *ngFor="let option of (ediciones | async)" value="{{option.$key}}">{{option.$value}}</option>
            </select>
          </div>
      <button class="btn btn-outline-info" (click)="onFilterSort()">Buscar</button>
    </div>
    <!-- Tabla de tareas -->
    <div class="col-10 rounded p-2">
        <button class="btn btn-outline-success m-2" (click)="gotoDetail('-')" [disabled]="(authService.userProfile|async)?.role < 40"><span class="fa fa-plus" aria-hidden="true"></span> Nuevo Informativo</button>
     <!--  <table class="table">
        <thead>
          <th>#</th>
          <th>Semestre</th>
          <th>Cadena</th>
          <th>Fecha</th>
          <th>Edición</th>
          <th style="text-align:center;">Analizado</th>
          <th style="text-align:center;">Revisado</th>
          <th style="text-align:center;">Verificado</th>
        </thead>
        <tbody>
          <tr *ngFor="let tarea of displayTareas, let i=index" >
            <td *ngIf="i<200"><button class="btn-link" (click)="gotoDetail(tarea.$key)">{{tarea.id_tarea}}</button></td>
            <td *ngIf="i<200">{{(combos|async)?.semestre[tarea.semestre]}}</td>
            <td *ngIf="i<200">{{(combos|async)?.cadena[tarea.cadena]}}</td>
            <td *ngIf="i<200">{{tarea.date | date:'dd/MM/yyyy'}}</td>
            <td *ngIf="i<200">{{(combos|async)?.edicion[tarea.edicion]}}</td>
            <td *ngIf="i<200" style="text-align:center;"><input type="checkbox" [checked]="tarea.analizado"  disabled/></td>
            <td *ngIf="i<200"style="text-align:center;"><input type="checkbox" [checked]="tarea.revisado"  disabled/></td>
            <td *ngIf="i<200"style="text-align:center;"><input type="checkbox" [checked]="tarea.comprobado"  disabled/></td>
          </tr>
        </tbody>
      </table> -->
      <p-dataTable [value]="displayTareas" [rows]="50" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[25,50,100]" [tableStyle]="{'table-layout':'auto'}">
        <p-column field="id_tarea" header="#" [sortable]="true">
          <ng-template let-tarea="rowData" pTemplate="body">
            <button class="btn-link" (click)="gotoDetail(tarea.$key)">{{tarea.id_tarea}}</button>
          </ng-template>
        </p-column>
        <p-column field="semestre" header="Semestre" [sortable]="true">
          <ng-template let-tarea="rowData" pTemplate="body"> {{(combos|async)?.semestre[tarea.semestre]}} </ng-template>
        </p-column>
        <p-column field="cadena" header="Cadena" [sortable]="true">
          <ng-template let-tarea="rowData" pTemplate="body"> {{(combos|async)?.cadena[tarea.cadena]}} </ng-template>
        </p-column>
        <p-column field="date" header="Fecha" [sortable]="true">
          <ng-template let-tarea="rowData" pTemplate="body"> {{tarea.date | date:'dd/MM/yyyy'}} </ng-template>
        </p-column>
        <p-column field="edicion" header="Edición" [sortable]="true">
          <ng-template let-tarea="rowData" pTemplate="body"> {{(combos|async)?.edicion[tarea.edicion]}} </ng-template>
        </p-column>
        <p-column field="analizado" header="Analizado" [sortable]="true">
            <ng-template let-tarea="rowData" pTemplate="body"> <div style="text-align:center;"><input type="checkbox" [checked]="tarea.analizado"  disabled/> </div></ng-template>
        </p-column>
        <p-column field="revisado" header="Revisado" [sortable]="true">
            <ng-template let-tarea="rowData" pTemplate="body"> <div style="text-align:center;"><input type="checkbox" [checked]="tarea.revisado"  disabled/> </div></ng-template>
        </p-column>
        <p-column field="comprobado" header="Verificado" [sortable]="true">
            <ng-template let-tarea="rowData" pTemplate="body"> <div style="text-align:center;"><input type="checkbox" [checked]="tarea.comprobado"  disabled/> </div></ng-template>
        </p-column>
    </p-dataTable>
    </div>
  </div>
</div>