<div class="container text-center pt-5" *ngIf="loader">
  <i class="fa fa-spinner fa-4x fa-spin fa-fw" aria-hidden="true"></i>
</div>
<div class="container-fluid p-3" *ngIf="!loader">
  <div class="row">
    <div class="col-3">
      <div class="list-group" id="list-tab" role="tablist">
        <button class="list-group-item list-group-item-action" [class.active]="selectedItem == desplegable" *ngFor="let desplegable of desplegables"
          (click)="selectItem(desplegable)">{{desplegable.$key}}</button>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content">
        <button class="btn btn-outline-success m-2" (click)="onSubmit()"><span class="fa fa-save" aria-hidden="true" ></span> Guardar</button>
        <button class="btn btn-outline-secondary m-2" (click)="goBack()"><span class="fa fa-undo" aria-hidden="true"></span> Cancelar</button>
        <div class="row" *ngFor="let item of sItemArray; let i=index">
          <div class="col-2"><label>Value: </label> <input type="text" [(ngModel)]="item['key']" class="form-control"></div>
          <div class="col-8"><label>Description: </label> <input type="text" [(ngModel)]="item['value']" class="form-control"></div>
          <div class="col-2" style="vertical-align: bottom"><button class="btn btn-outline-danger m-2" (click)="deleteItem(i)"><span class="fa fa-trash" aria-hidden="true"></span></button></div>
        </div>
        <button class="btn btn-outline-success m-2" (click)="addItem(item)"><span class="fa fa-plus" aria-hidden="true"></span> Añadir</button>
      </div>
    </div>
  </div>
</div>