<div class="container text-center pt-5" *ngIf="loader.user && loader.timesheet">
  <i class="fa fa-spinner fa-4x fa-spin fa-fw" aria-hidden="true"></i>
</div>
<div class="container p-3" id="home-timesheets" *ngIf="!(loader.user && loader.timesheet)">
    <div class="container-fluid m-3">
    <h2 class="text-primary">ACTIVE TIMESHEETS</h2>
    <div class="row p-1">
      <div class="col-md-4 mt-2">
        <div class="card">
          <div class="card-header" align="center">{{today | date:'MMMM'}}</div>
          <div class="card-block">
                <table class="table"> 
                    <thead class="card-title"> 
                        <th>Proposal</th> 
                        <th>Q1</th> 
                        <th>Q2</th> 
                    </thead> 
                    <tbody class="card-text" *ngFor='let tsheets of filteredTimesheets'> 
                        <!-- Filtrar por mes, proposal y quincena para el usuario activo -->
                        <tr *ngIf='(authService.user | async)?.uid===tsheets.userObj.uid && tsheets.month===(today |date: "MM") && (tsheets.year).toString()===(today |date: "y")'> 
                            <td>{{tsheets.proposalObj.id}}</td>
                            <td>{{tsheets.q1}}</td> 
                            <td>{{tsheets.q2}}</td> 
                            <!--<td><button class="btn btn-primary" (click)="gotoDetail(user.$key)"><span class="fa fa-edit"></span></button></td> -->
                        </tr> 
                    </tbody> 
                </table> 
            <button class="btn btn-info is-pointer" (click)="gotoDetail(filteredTimesheets.$key)">Edit</button>
          </div>
        </div>
        <div class="card">
            <div class="card-header" align="center">August</div>
            <div class="card-block">
                <table class="table"> 
                    <thead class="card-title"> 
                        <th>Proposal</th> 
                        <th>Q1</th> 
                        <th>Q2</th> 
                    </thead> 
                    <tbody class="card-text" *ngFor='let tsheets of filteredTimesheets'> 
                        <!-- Filtrar por mes, proposal y quincena para el usuario activo -->
                        <tr *ngIf='(authService.user | async)?.uid===tsheets.userObj.uid && tsheets.month==="08" && (tsheets.year).toString()===(today |date: "y")'> 
                            <td>{{tsheets.proposalObj.id}}</td>
                            <td>{{tsheets.q1}}</td> 
                            <td>{{tsheets.q2}}</td> 
                            <!--<td><button class="btn btn-primary" (click)="gotoDetail(user.$key)"><span class="fa fa-edit"></span></button></td> -->
                        </tr> 
                    </tbody> 
                </table> 
                <button class="btn btn-info is-pointer" (click)="gotoDetail(filteredTimesheets.$key)">Edit</button>
            </div>
            <div class="card-header" align="center">September</div>
            <div class="card-block">
                <table class="table"> 
                    <thead class="card-title"> 
                        <th>Proposal</th> 
                        <th>Q1</th> 
                        <th>Q2</th> 
                    </thead> 
                    <tbody class="card-text" *ngFor='let tsheets of filteredTimesheets'> 
                        <!-- Filtrar por mes, proposal y quincena para el usuario activo -->
                        <tr *ngIf='(authService.user | async)?.uid===tsheets.userObj.uid && tsheets.month==="09" && (tsheets.year).toString()===(today |date: "y")'> 
                            <td>{{tsheets.proposalObj.id}}</td>
                            <td>{{tsheets.q1}}</td> 
                            <td>{{tsheets.q2}}</td> 
                            <!--<td><button class="btn btn-primary" (click)="gotoDetail(user.$key)"><span class="fa fa-edit"></span></button></td> -->
                        </tr> 
                    </tbody> 
                </table> 
                <button class="btn btn-info is-pointer" (click)="gotoDetail(filteredTimesheets.$key)">Edit</button>
            </div>
        </div>
      </div>
    </div>
      <div class="col-lg-12"><h1>PAST TIMESHEETS</h1></div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="thumbnail">
                <div class="caption">
                    <div class="col-lg-12"> 
                        <span class="glyphicon glyphicon-credit-card"></span>
                        <span class="glyphicon glyphicon-trash pull-right text-primary"></span>
                    </div>
                    <div class="col-lg-12 well well-add-card">
                        <h4 align="center">JUNE</h4>
                    </div>
                    <div>
                        <table class="table"> 
                            <thead class="col-lg-3"> 
                            <th>Proposal</th> 
                            <th>Q1</th> 
                            <th>Q2</th> 
                            </thead> 
                            <tbody *ngFor='let tsheets of filteredTimesheets'> 
                        <!-- Filtrar por mes, proposal y quincena para el usuario activo -->
                            <tr *ngIf='(authService.user | async)?.uid===tsheets.userObj.uid && tsheets.month==="06"'> 
                                <!--<td>{{(authService.user | async)?.uid===tsheets.userObj.uid}}</td>-->
                                <td>{{tsheets.proposalObj.id}}</td>
                                <td>{{tsheets.q1}}</td> 
                                <td>{{tsheets.q2}}</td> 
                                <!--<td><button class="btn btn-primary" (click)="gotoDetail(user.$key)"><span class="fa fa-edit"></span></button></td> -->
                            </tr> 
                            </tbody> 
                        </table> 
                    </div>
                    <button type="button" class="btn btn-primary btn-xs btn-update btn-add-card">Detail</button>
                    <span class='glyphicon glyphicon-exclamation-sign text-danger pull-right icon-style'></span> <!-- poner if: si las horas no son correctas, se visualiza el icono -->
                </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="thumbnail">
              <div class="caption">
                <div class='col-lg-12'>
                    <span class="glyphicon glyphicon-credit-card"></span>
                    <span class="glyphicon glyphicon-trash pull-right text-primary"></span>
                </div>
                <div class='col-lg-12 well well-add-card'>
                    <h4 align="center">MAY</h4>
                </div>
                <div class='col-lg-12'>
                    <p>4111xxxxxxxx3265</p>
                </div>
                <button type="button" class="btn btn-primary btn-xs btn-update btn-add-card">Detail</button>
                 <span class='glyphicon glyphicon-exclamation-sign text-danger pull-right icon-style'></span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="thumbnail">
              <div class="caption">
                <div class='col-lg-12'>
                    <span class="glyphicon glyphicon-credit-card"></span>
                    <span class="glyphicon glyphicon-trash pull-right text-primary"></span>
                </div>
                <div class='col-lg-12 well well-add-card'>
                    <h4 align="center">APRIL</h4>
                </div>
                <div class='col-lg-12'>
                    <p>4111xxxxxxxx3265</p>
                </div>
                <button type="button" class="btn btn-primary btn-xs btn-update btn-add-card">Detail</button>
            </div>
          </div>
        </div>
       <!-- <div class="col-lg-12"><a href="#">View Deleted Cards</a></div>-->
      </div><!-- End row -->
    </div><!-- End container -->
