<div class="container text-center pt-5" *ngIf="loader">
  <i class="fa fa-spinner fa-4x fa-spin fa-fw" aria-hidden="true"></i>
</div>
<div class="container-fluid p-3" *ngIf="!loader">
  <div class="row content">
    <div class="col-sm-11">
      <button class="btn btn-outline-success m-2" (click)="onSubmit()" [disabled]="!form.id_tarea || (authService.userProfile|async)?.role < 40"><span class="fa fa-save" aria-hidden="true" ></span> Guardar Tarea</button>
      <button class="btn btn-outline-secondary m-2" (click)="goBack()"><span class="fa fa-undo" aria-hidden="true"></span> Regresar</button>
      <button class="btn btn-outline-danger m-2 float-right" (click)="delete()" *ngIf="!form.analizado && form.$key && (authService.userProfile|async)?.role > 40"><span class="fa fa-trash" aria-hidden="true"></span> Eliminar</button>
    </div>
  </div>
  <div class="row content">
    <!-- Formulario-->
    <div class="col-sm-4 border rounded m-2 p-2">
      <div class="form-group form-inline">
        <label>Verificado profesor: </label>
        <input type="checkbox" class="mx-2" [(ngModel)]="form.comprobado" [disabled]="(authService.userProfile|async)?.role < 40">
      </div>
      <div class="form-group form-inline">
        <label class="col-3">ID Tarea: </label>
        <input class="form-control" name="id_tarea" [(ngModel)]="form.id_tarea" [disabled]="form.comprobado || (authService.userProfile|async)?.role < 40">
      </div>
      <div class="form-group form-inline">
        <label class="col-3">Analista: </label>
        <input type="text" name="selectedAnalista" class="form-control" [ngbTypeahead]="usearch" [(ngModel)]="selectedAnalista" [inputFormatter]="uformatter"
          [resultFormatter]="uformatter" (selectItem)="selectAnalista($event)" [disabled]="form.comprobado || (authService.userProfile|async)?.role < 40">
        <label><input class="mx-2" type="checkbox" [(ngModel)]="form.analizado" (click)="checkTerminado()" [disabled]="form.revisado"> Analizado</label>
      </div>
      <div class="form-group form-inline">
        <label class="col-3">Revisor: </label>
        <input type="text" name="selectedRevisor" class="form-control" [ngbTypeahead]="usearch" [(ngModel)]="selectedRevisor" [inputFormatter]="uformatter"
          [resultFormatter]="uformatter" (selectItem)="selectRevisor($event)" [disabled]="form.comprobado || (authService.userProfile|async)?.role < 40">
        <label><input class="mx-2" type="checkbox" [(ngModel)]="form.revisado" [disabled]="form.comprobado || (authService.userProfile|async)?.role < 40"> Revisado</label>
      </div>
      <div class="form-group form-inline">
        <label class="col-3">Semestre:</label>
        <select name="cadena" class="form-control" [(ngModel)]="form.semestre" [disabled]="form.comprobado || (authService.userProfile|async)?.role < 40">  
                          <option></option>
                          <option *ngFor="let option of (semestres | async)" value="{{option.$key}}">{{option.$value}}</option>
                      </select>
      </div>
    </div>
    <div class="col-sm-4 border rounded m-2 p-2">
      <div class="form-group form-inline">
        <label class="col-3">Cadena:</label>
        <select name="cadena" class="form-control" [(ngModel)]="form.cadena" [disabled]="form.comprobado || (authService.userProfile|async)?.role < 40">
                        <option></option>
                        <option *ngFor="let option of (cadenas | async)" value="{{option.$key}}">{{option.$value}}</option>
                    </select>
      </div>
      <div class="form-group form-inline">
        <label class="col-3">Hora comienzo:</label>
        <select class="form-control" [(ngModel)]="form.bh" [disabled]="form.revisado">
                      <option *ngFor="let h of hour;let i=index" value="{{i}}">{{i | number:'2.0-0'}}</option>
                  </select>
        <label>:</label>
        <select class="form-control" [(ngModel)]="form.bm" [disabled]="form.revisado">
                      <option *ngFor="let min of minute;let i=index" value="{{i}}">{{i | number:'2.0-0'}}</option>
                  </select>
        <label>:</label>
        <select class="form-control" [(ngModel)]="form.bs" [disabled]="form.revisado">
                      <option *ngFor="let min of minute;let i=index" value="{{i}}">{{i | number:'2.0-0'}}</option>
                  </select>
      </div>
      <div class="form-group form-inline">
        <label class="col-3">Hora de fin:</label>
        <select class="form-control" [(ngModel)]="form.eh" [disabled]="form.revisado">
                      <option *ngFor="let h of hour;let i=index" value="{{i}}">{{i | number:'2.0-0'}}</option>
                  </select>
        <label>:</label>
        <select class="form-control" [(ngModel)]="form.em" [disabled]="form.revisado">
                      <option *ngFor="let min of minute;let i=index" value="{{i}}">{{i | number:'2.0-0'}}</option>
                  </select>
        <label>:</label>
        <select class="form-control" [(ngModel)]="form.es" [disabled]="form.revisado">
                      <option *ngFor="let min of minute;let i=index" value="{{i}}">{{i | number:'2.0-0'}}</option>
                  </select>
      </div>
      <div class="form-group">
        <label class="col-3">Duración:</label>
        <label>{{(form.eh-form.bh)*3600+(form.em-form.bm)*60+(form.es-form.bs)}} sec </label>
      </div>
      <div class="form-group form-inline">
        <label class="col-3">Edición:</label>
        <select name="edicion" class="form-control" [(ngModel)]="form.edicion" [disabled]="form.comprobado || (authService.userProfile|async)?.role < 40">
                      <option></option>
                      <option *ngFor="let option of (edicion | async)" value="{{option.$key}}">{{option.$value}}</option>
                  </select>
      </div>
    </div>
    <div class="col-sm-2 mt-2 pt-2">
      <div class="form-group form-inline">
        <div>
          <ngb-datepicker [(ngModel)]="form.dateNgb" [startDate]="startDate" (click)="form.date = utils.convertNgbDateToISO(form.dateNgb)"></ngb-datepicker>
        </div>
      </div>
    </div>
  </div>
  <div class="row content" *ngIf="form.$key">
    <!-- Tabla de fichas -->
    <div class="col-sm-11 p-3">
      <button class="btn btn-outline-success m-2" *ngIf="!form.analizado" (click)="gotoDetail('-')"><span class="fa fa-plus" aria-hidden="true"></span> Nueva Ficha</button>
      <table class="table">
        <thead>
          <th>Titulo</th>
          <th>Genero</th>
          <th>Formato</th>
          <th>Inicio</th>
          <th>Fin</th>
          <th style="text-align:center;">Terminado</th>
        </thead>
        <tbody>
          <tr *ngFor="let ficha of fichas">
            <td><button class="btn-link" (click)="gotoDetail(ficha.$key)">{{ficha.title}}</button></td>
            <td>{{(combos|async)?.genero[ficha.genero]}}</td>
            <td>{{(combos|async)?.genero[ficha.format]}}</td>
            <td>{{ficha.bhour | number:'2.0-0'}}:{{ficha.bmin | number:'2.0-0'}}:{{ficha.bsec | number:'2.0-0'}}</td>
            <td>{{ficha.ehour | number:'2.0-0'}}:{{ficha.emin | number:'2.0-0'}}:{{ficha.esec | number:'2.0-0'}}</td>
            <td style="text-align:center;"><input type="checkbox" [checked]="ficha.terminado" disabled/></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>