<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand"><img src="../../assets/ocitv.png" alt="..." height="30" ></a>

  <div class="collapse navbar-collapse" id="navbarNavDropdown" *ngIf="authService.user | async">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="Home" class="nav-link" routerLinkActive="active">Inicio</a>
      </li>
      <li class="nav-item">
        <a routerLink="Tarea" class="nav-link" routerLinkActive="active">Informativos</a>
      </li>
      <li class="nav-item">
        <a routerLink="Dashboard" class="nav-link" routerLinkActive="active" *ngIf="(authService.userProfile|async)?.role == '90'">Análisis</a>
      </li>
      <li class="nav-item">
          <a routerLink="Desplegable/etiquetas" class="nav-link" routerLinkActive="active" *ngIf="(authService.userProfile|async)?.role == '90'">Etiquetas</a>
        </li>
      <li class="nav-item">
        <a routerLink="User" class="nav-link" routerLinkActive="active" *ngIf="(authService.userProfile|async)?.role == '90'">Usuarios</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
          Cuenta
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="user/Reset/-">Cambiar contraseña</a>
        </div>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <div class="mr-sm-2">{{ (authService.user | async)?.email }}</div>
      <button class="btn btn-outline-warning my-2 my-sm-0" (click)="logout()" *ngIf="authService.user | async">Logout</button>
    </div>
  </div>
</nav>
<div class="container-fluid pt-1" >
  <p-growl [(value)]="msgs"></p-growl>
  <router-outlet></router-outlet>
</div>