<p-tabView>
    <p-tabPanel header="Panel">
        <div class="row mb-2">
            <div class="col-xl-6 p-2">
                <div class="border rounded p-2">
                    <h3 class="text-info">Informativos</h3>
                    <div class="row mb-3">
                        <div class="col-xl-12">
                            <dx-pie-chart id="pie" type="doughnut" title="Total" palette="Ocean" [dataSource]="totalTareaChartData">
                                <dxi-series argumentField="cadena" valueField="total">
                                    <dxo-label [visible]="true">
                                        <dxo-connector [visible]="true"></dxo-connector>
                                    </dxo-label>
                                </dxi-series>
                                <dxo-export [enabled]="true"></dxo-export>
                                <dxo-legend [margin]="0" horizontalAlignment="right" verticalAlignment="top"></dxo-legend>
                                <dxo-tooltip [enabled]="true"></dxo-tooltip>
                            </dx-pie-chart>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-xl-12">
                            <dx-chart id="chart" [dataSource]="totalTareaChartData" title="Duracion Total">
                                <dxi-series argumentField="cadena" valueField="dur" type="bar">
                                        <dxo-label [visible]="true"></dxo-label>
                                </dxi-series>
                                <dxo-legend [visible]="false"></dxo-legend>
                                <dxo-export [enabled]="true"></dxo-export>
                            </dx-chart>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-xl-12">
                            <dx-chart id="chart" [dataSource]="totalTareaChartData" title="Duracion Media">
                                <dxi-series argumentField="cadena" valueField="med" type="bar">
                                        <dxo-label [visible]="true"></dxo-label>
                                </dxi-series>
                                <dxo-legend [visible]="false"></dxo-legend>
                                <dxo-export [enabled]="true"></dxo-export>
                            </dx-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 p-2">
                    <div class="border rounded p-2">
                            <h3 class="text-info">Piezas</h3>
                            <div class="row mb-3">
                                <div class="col-xl-12">
                                    <dx-pie-chart id="pie" type="doughnut" title="Total" palette="Ocean" [dataSource]="totalPiezaChartData">
                                        <dxi-series argumentField="cadena" valueField="total">
                                            <dxo-label [visible]="true">
                                                <dxo-connector [visible]="true"></dxo-connector>
                                            </dxo-label>
                                        </dxi-series>
                                        <dxo-export [enabled]="true"></dxo-export>
                                        <dxo-legend [margin]="0" horizontalAlignment="right" verticalAlignment="top"></dxo-legend>
                                        <dxo-tooltip [enabled]="true">
                                        </dxo-tooltip>
                                    </dx-pie-chart>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-xl-12">
                                    <dx-chart id="chart" [dataSource]="totalPiezaChartData" title="Duracion Total">
                                        <dxi-series argumentField="cadena" valueField="dur" type="bar">
                                                <dxo-label [visible]="true"></dxo-label>
                                        </dxi-series>
                                        <dxo-legend [visible]="false"></dxo-legend>
                                        <dxo-export [enabled]="true"></dxo-export>
                                    </dx-chart>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-xl-12">
                                    <dx-chart id="chart" [dataSource]="totalPiezaChartData" title="Duracion Media">
                                        <dxi-series argumentField="cadena" valueField="med" type="bar">
                                                <dxo-label [visible]="true"></dxo-label>
                                        </dxi-series>
                                        <dxo-legend [visible]="false"></dxo-legend>
                                        <dxo-export [enabled]="true"></dxo-export>
                                    </dx-chart>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Datos - Informativos">
        <p-dataTable #dt [value]="informativos" exportFilename="informativos" resizableColumns="true">
            <p-header>
                <div class="ui-helper-clearfix">
                    <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:left"></button>
                </div>
            </p-header>
            <p-column field="$key" header="Clave"></p-column>
            <p-column field="id_tarea" header="Id"></p-column>
            <p-column field="cadena-l" header="Cadena"></p-column>
            <p-column field="duracion" header="Duracion"></p-column>
            <p-column field="date" header="Fecha"></p-column>
            <p-column field="semestre-l" header="Semestre"></p-column>
            <p-column field="edicion-l" header="Edicion"></p-column>
        </p-dataTable>
    </p-tabPanel>
    <p-tabPanel header="Datos - Piezas">
        <p-dataTable #dt1 [value]="piezas" exportFilename="piezas" resizableColumns="true">
            <p-header>
                <div class="ui-helper-clearfix">
                    <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt1.exportCSV()" style="float:left"></button>
                </div>
            </p-header>
            <p-column field="$key" header="Clave Pieza"></p-column>
            <p-column field="tarea_id" header="Clave Tarea"></p-column>
            <p-column field="title" header="Titulo"></p-column>
            <p-column field="duracion" header="Duracion"></p-column>
            <p-column field="genero-l" header="Genero"></p-column>
            <p-column field="format-l" header="Formato"></p-column>
            <p-column field="observaciones" header="Observaciones"></p-column>
            <p-column field="terminado" header="Teminado"></p-column>
        </p-dataTable>
    </p-tabPanel>
</p-tabView>