<div class="container text-center pt-5" *ngIf="loader">
  <i class="fa fa-spinner fa-4x fa-spin fa-fw" aria-hidden="true"></i>
</div>
<div class="container p-3" *ngIf="!loader">
  <form (ngSubmit)="onSubmit()">

    <label for="proposal">Proposal</label>

    <div class="form-group">
      <input type="text" name="selectedProposal" class="form-control" [ngbTypeahead]="psearch" [(ngModel)]="selectedProposal"
        [inputFormatter]="pformatter" [resultFormatter]="pformatter" (selectItem)="selectProposal($event)">
    </div>
    <label for="proposal">Start</label>
    <div class="form-group">
      <input placeholder="dd/mm/yyyy" [(ngModel)]="form.start" class="form-control" name="start">
    </div>

    <label for="proposal">Finish</label>
    <div class="form-group">
      <input placeholder="dd/mm/yyyy" [(ngModel)]="form.finish" class="form-control" name="finish">
    </div>

    <label for="proposal">User</label>
        <div class="form-group">
      <input type="text" name="selectedUser" class="form-control" [ngbTypeahead]="usearch" [(ngModel)]="selectedUser"
        [inputFormatter]="uformatter" [resultFormatter]="uformatter" (selectItem)="selectUser($event)">
    </div>

    <label for="proposal">Expenses</label>
    <div class="form-group">
      <input [(ngModel)]="form.expenses" type="text" class="form-control" name="expenses">
    </div>

  </form>
  <div class="form-row">
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="onSubmit()">Save</button>
    <button class="btn btn-outline-danger my-2 my-sm-0" (click)="goBack()">Go Back</button>
  </div>
</div>