<div class="container text-center pt-5" *ngIf="loader.user && loader.travel">
  <i class="fa fa-spinner fa-4x fa-spin fa-fw" aria-hidden="true"></i>
</div>
<div class="container" *ngIf="!(loader.user && loader.travel)">
  <div class="row p-3">
    <div class="col-4">
      <input type="text" placeholder="filter..." class="form-control" (change)="onFilter($event)">
    </div>
  </div>
  <table class="table">
    <thead>
      <th>User</th>
      <th>Start Date</th>
      <th>Finish Date</th>
      <th>Proposal</th>
      <th>Expenses</th>
    </thead>
    <tbody>
      <tr *ngFor="let travel of filteredTravels">
        <td><button class="btn-link" (click)="gotoDetail(travel.$key)">{{travel.userObj.adsuser}} - {{travel.userObj.name}} {{travel.userObj.lastname}}</button></td>
        <td>{{travel.start}}</td>
        <td>{{travel.finish}}</td>
        <td>{{travel.proposalObj.id}}</td>
        <td>{{travel.expenses | currency:'EUR':true:'1.0-0'}}</td>
      </tr>
    </tbody>
  </table>
</div>
