<div class="container text-center pt-5" *ngIf="loader">
  <i class="fa fa-spinner fa-4x fa-spin fa-fw" aria-hidden="true"></i>
</div>
<div class="container p-3" *ngIf="!loader">
  <form (ngSubmit)="onSubmit()">

    <label>Proposal</label>

    <div class="form-group">
      <input type="text" name="selectedProposal" class="form-control" [ngbTypeahead]="psearch" [(ngModel)]="selectedProposal" [inputFormatter]="pformatter"
        [resultFormatter]="pformatter" (selectItem)="selectProposal($event)">
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>Start</label>
        <div class="form-group">
          <ngb-datepicker #ds [(ngModel)]="form.startDate" [startDate]="{year:form.startDate.year, month:form.startDate.month}" name="startDate"></ngb-datepicker>
        </div>
      </div>
      <div class="col-md-6">
        <label>Finish</label>
        <div class="form-group">
          <ngb-datepicker #df [(ngModel)]="form.finishDate" [startDate]="{year:form.finishDate.year, month:form.finishDate.month}"
            name="finishdate"></ngb-datepicker>
        </div>
      </div>
    </div>

    <label>User</label>
    <div class="form-group">
      <input type="text" name="selectedUser" class="form-control" [ngbTypeahead]="usearch" [(ngModel)]="selectedUser" [inputFormatter]="uformatter"
        [resultFormatter]="uformatter" (selectItem)="selectUser($event)">
    </div>

    <label>Expenses (in €)</label>
    <div class="form-group">
      <input [(ngModel)]="form.expenses" type="text" class="form-control" name="expenses">
    </div>

  </form>
  <div class="form-row">
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="onSubmit()">Save</button>
    <button class="btn btn-outline-danger my-2 my-sm-0" (click)="goBack()">Go Back</button>
  </div>
</div>