<div class="container p-3">
  <div class="form-row mb-3">
    <button class="btn btn-outline-success mx-2" (click)="onSubmit()"><span class="fa fa-save" aria-hidden="true"></span> Guardar</button>
    <button class="btn btn-outline-warning mx-2" (click)="goBack()"><span class="fa fa-undo" aria-hidden="true"></span> Cancelar</button>
  </div>
  <div>
    <label>Nombre</label>
    <div class="form-group">
      <input [(ngModel)]="form.name" type="text" class="form-control" [readonly]="proposal? true: false">
    </div>

    <label>Apellido</label>
    <div class="form-group">
      <input [(ngModel)]="form.lastname" type="text" class="form-control">
    </div>

    <label>Role</label>
    <div class="form-group">
        <select [(ngModel)]="form.role" class="form-control">
            <option value="10">Consulta</option>
            <option value="30">Alumno</option>
            <option value="50">Profesor</option>
            <option value="90">Administrador</option>
          </select>
    </div>

  </div>
</div>