<div class="container p-3">
  <div class="form-row mb-3">
    <button [disabled]="!form.valid" class="btn btn-outline-success mx-2" (click)="onSubmit()"><span class="fa fa-save" aria-hidden="true"></span> Save</button>
    <button class="btn btn-outline-warning mx-2" (click)="goBack()"><span class="fa fa-undo" aria-hidden="true"></span> Undo</button>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let question of questions" class="form-row">
      <df-question [question]="question" [form]="form"></df-question>
    </div>
  </form>

</div>