<div class="container text-center pt-5" *ngIf="loader">
  <i class="fa fa-spinner fa-4x fa-spin fa-fw" aria-hidden="true"></i>
</div>
<div class="container" *ngIf="!loader">
  <div class="row p-3">
    <div class="col-4">
      <input type="text" placeholder="filter..." class="form-control" (change)="onFilter($event)">
    </div>
  </div>
  <table class="table">
    <thead>
      <th>Usuario</th>
      <th>email</th>
      <th>Rol</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td><button class="btn-link" (click)="gotoDetail(user.$key)">{{user.name}} {{user.lastname}}</button></td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
      </tr>
    </tbody>
  </table>
</div>